    .formContainer {
        border: 1px solid black;
        display: flex;
        justify-content: center;
        margin: 15px;
    }
    
    .signupForm {
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap: 10px;
    }

    input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .signupBtn {
        background-color: #92C24C;
        border: none;
        height: 30px;
        color: white;
        font-weight:bold;
        padding: 0.5em;
        text-transform: uppercase;
    }