    .formContainer {
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        overflow: scroll;
        height: 75vh;   

    }
    
    .signupForm {
        display: flex;
        flex-direction: column;
        margin: 15px;
        padding: 10px;
        gap: 15px;
        align-items: center;
        /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    }

    input {
       width: 80vw;
       border-radius: 0.8em;
    }

    .signupBtn {
        background-color: #92C24C;
        border: none;
        height: 30px;
        color: white;
        font-weight:bold;
        padding: 0.5em;
        text-transform: uppercase;
        width: 80vw;
        margin-bottom: 20px;
        border-radius: 0.8em;
    }

    p {
        margin-top: 0px;
        font-weight: 500;
    }