.editContainer {
    overflow: scroll;
    height: 75vh;
    margin: 10px;
}

.required:after {
    content:" *";
    color: #212427;
}

.updatePlace {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    gap: 5px;
}

textarea {
    height: 15vh;
    width: 90vw;
}

.saveBtn {
    border: none;
    padding: 10px;
    background-color: #92C24C;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    border-radius: 0.8em;
    width: 90vw;
}

label {
    display: flex;
    padding-left: 5px;
 /*    font-weight: bold; */
    text-transform: uppercase;
    margin-top: 5px;
}

.smallText {
    display: flex;
    padding: 10px 5px 10px 5px;
    font-size: 0.8em;
    font-style: italic;
}