.updatePlace {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    gap: 5px;
}

textarea {
    height: 15vh;
    width: 85vw;
}

.saveBtn {
    border: none;
    padding: 10px;
    background-color: #92C24C;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    border-radius: 0.8em;
}