.container {
    overflow: scroll;
    height: 75vh;
    /* border: 1px solid black; */
    /* background-color: white; */
}

.search {
    /* border: 1px solid black; */
    padding: 20px;
}

input {
    width: 90vw;
    background: url(../../img/magnifier.png) no-repeat scroll 7px 7px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 30px;
    background-size: 20px;
    border-radius: 1em;
}
