.submit {
    overflow: scroll;
    /* height: 20vh; */
	display: flex;
	flex-direction: column;
	gap: 10px;
}

textarea {
    box-sizing: border-box;
	border: none;
	border-radius: 0.2em;
	resize: none;
	line-height: 24px;
	overflow: auto;
	height: auto;
	border: 1px solid grey;
	/* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
}

.addBtn {
	background-color: orange;
    border: 1px solid orange;
	border-radius: 0.8em;
	color: white;
	/* font-weight: bold; */
	text-transform: uppercase;
	padding: 5px;
}

.btn {
	display: flex;
	justify-content: flex-end;
    gap: 10px;
}

.comment {
	font-style: italic;
	border: 1px solid grey;
	width: 79vw;
}

.linebreak {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}