body {
    background-color: #FEF9DC;
}

h2 {
    margin: 10px;
}

.link {
    text-decoration: none;
    color: #212427;
}
.container {
    /* border: 2px solid green; */
    padding: 20px;  
    overflow: scroll;
    height: 75vh;
}
.categoryDiscoverCard{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    background-color: rgba(145, 198, 129, 0.3);
    border-radius: 1.2em;
}

.categoryTipsCard {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    background-color: rgba(254, 164, 91, 0.3);
    border-radius: 1.2em;
}

.categoryLearnCard {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    background-color: rgba(252, 217, 73, 0.3);
    border-radius: 1.2em;
}

.categoryCityCard{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    background-color: rgba(145, 198, 129, 0.1);
    border-radius: 1.2em;
    color: rgba(0, 0, 0, 0.3);
}

.categoryCommunityCard{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    background-color: rgba(254, 164, 91, 0.1);
    border-radius: 1.2em;
    color: rgba(0, 0, 0, 0.3);
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.category {
    display: flex;
    flex-direction: column;
}

.city__img {
    opacity: 0.5;
}

.community__img {
    opacity: 0.5;
}