.listContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    /* border: 1px solid black; */
}

.card {
    /* border: 1px solid green;     */
    background-color: white;
    border-radius: 0.8em;
}