
.commentCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.commentBody {
    display: flex;
    flex-direction: column;
}

.postedBy{
    font-size: 0.7em;
    font-style: italic;
}

.btns {
    display: flex;
    gap: 10px;
}
