
.commentCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-top: 10px;
    gap: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    /* border: 1px solid lightgray; */
}

.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.commentBody {
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 10px;
}

.postedBy{
    font-size: 0.9em;
    font-style: italic;
    justify-content: flex-end;
    align-items: center;
}

.comment {
    font-size: 1em;
    /* text-align: end; */
    padding: 10px;
}
.btns {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.delete {
    background-color: inherit;
    border: none;
}

.lineComments {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.bottom {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
