.placeCard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: white;
    border-radius: 0.8em;
    text-align: left;    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

p {
    padding: 5px 5px 5px 0px;
}
.name {
    font-size: 1em;
    font-weight: bolder;
}
.city {
    font-size: 0.7em;
    font-weight: bold;
}

.diet {
    font-size: 0.6em;
}

.author, .published {
    font-size: 0.6em;
}
.description {
    font-size: 0.7em;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.edit, .delete, .save {
    border: none;   
    background: none;
    /* border: 1px solid black; */
}

.privateBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    
.comments {
    display: flex;
    justify-content: flex-end;
}
