.placeCard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: white;
    border-radius: 0.8em;
    text-align: left;    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /* border: 1px solid black; */
}



.diet {
    font-size: 0.7em;
    background-color: rgba(145, 198, 129, 0.3);
    width: fit-content;
    border-radius: 0.8em;
    padding: 5px 8px 5px 8px;
}

.details, .published {
    font-size: 0.9rem;
    text-align: end;
    font-style: italic;
}

.description {
    font-size: 1rem;
    line-height: 1.6rem;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.edit, .delete, .save, .commentBtn {
    border: none;   
    background: none;
    /* border: 1px solid black; */
}

    
.comments {
    display: flex;
    justify-content: flex-end;
}

.comment {
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items:center;
    /* background-color: rgba(254, 164, 91, 0.3); */
}


.lineDescription {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.header {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
}

.place {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.place h3 {
    font-size: 1.3em;
    font-weight: bolder;
}

.place span {
    /* font-size: 0.7em; */
    font-weight: bold;
}

.privateBtns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.favoriteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(254, 164, 91, 0.3);
    border-radius: 0.8em;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

/* .comment {
    border: none;
    background-color: rgba(254, 164, 91, 0.3);
    border-radius: 0.8em;
    padding: 5px 8px 5px 8px;
} */

.commentBtn {
    border: none;
    background-color: rgba(254, 164, 91, 0.3);
    border-radius: 0.8em;
    padding: 10px;
}

.readBtn {
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: inherit;
}

a:link, a:visited, a:active, a:hover {
    color: #212427;
}
