.formContainer {
    overflow: scroll;
    height: 75vh;
    margin: 10px;
    /* font-size: 1rem; */
}

.addPlace {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

input {
    border: 1px solid lightgray;
    padding: 10px;
    font-family: inherit;
    width: 90vw;
    font-style: italic;
    outline: none;   
    max-width: 90vw;
}

input:focus {
    font-style: normal;
}

.content {
    width: 90vw;
    border-radius: 0.8em;
    font-size: inherit;
    font-style: italic;
    border: 1px solid lightgray;
}

.addBtn {
    border: none;
    padding: 10px;
    background-color: #92C24C;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    border-radius: 0.8em;
    max-width: 90vw;
}

.clearBtn {
    border: 2px solid #92C24C;
    /* background-color: #FEF9DC; */
    background-color: white;
    color: #92C24C;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 0.8em;
    max-width: 90vw;
    
}

textarea {
    box-sizing: border-box;
	border: none;
	border-radius: 0.8em;
	resize: none;
	line-height: 24px;
	overflow: auto;
	height: auto;
    width: 85vw;
	padding: 8px;
	box-shadow: 0px 4px 10px -8px black;
    font-family: inherit;
    max-width: 90vw;
    white-space: pre-line;
    overflow-wrap: break-word;
}

.form {
    text-align: start;
    font-style: italic;
    font-size: small;
    color: #212427;
}