.nav {
   /*  border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
/*     gap: 10px; */

    /* background: #FEF9DC; */
    /* padding: 20px; */
    text-decoration: none;
}

.image {
  /*   border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
}

