
.landingPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landingPageBtn {
    background-color: #92C24C;
    border: none;
    border-radius: 0.8em;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
}