
.landingPageContainer {
    border: 1px solid black;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    gap: 10px;
}

.signupBox, .loginBox {
    border: 1px solid black;
    display: flex;
    height: 20vh;
    width: 50vw;    
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

