.container {
    overflow: scroll;
    height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.reviews {
    background: none;
    border: none;
    font-size: 1em;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin: 10px;
    line-height: 1.6em;
}

.name {
    margin-bottom: 20px;
    font-weight: bold;
}

.profileinfo {
    display: flex;
    flex-direction: column;
}
.logout {
    border: none;
    background-color: inherit;
}

.lineComments {
    border: 0;
    height: 0;
    margin: 0px 20px 0px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}