.login {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    overflow: scroll;
    height: 75vh;
}

input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBtn {
    background-color: #92C24C;
    border: none;
    border-radius: 0.8em;
    height: 30px;
    color: white;
    font-weight:bold;
}