* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.body {
  text-align: center;
  
}

a:link, a:visited, a:active, a:hover {
  color: black;
}

.textColor {
  color: #212427;
}

::-webkit-scrollbar {display:none;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

