* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  color: #212427;
}

.appContainer {
  max-width: 400px;
  margin: 0 auto;
}

textarea {
  white-space: pre-line;
}

.body {
  text-align: center;
  
}

.textColor {
  color: #212427;
}

::-webkit-scrollbar {display:none;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 600px) {
  .delete, .edit {
    display: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

